@section JavaScript{
    
}
    <div id="wrapper-content-ead">
      <div class="container-fluid">
        <div class="row">
        <div id="login-wrapper-ead" style="">
          <div class="form-container-ead">
            <h2>Login</h2>
            <form id="login-form-ead">
              <div class="input-group">
                <div class="input-group-addon input-sm"><span class="icon-user"></span></div>
                <input class="input-sm" type="text" placeholder="Username" />
              </div>
              <div class="input-group">
                <div class="input-group-addon input-sm"><span class="icon-key"></span></div>
                <input class="input-sm" type="text" placeholder="Password" />
              </div>
              <button>Login</button>
            </form>
          </div>
          <div class="form-container-ead">
            <h2>Signup</h2>
            <form id="signup-form-ead">
              <div class="input-group">
                <div class="input-group-addon input-sm"><span class="icon-mail2"></span></div>
                <input class="input-sm" type="text" placeholder="Email Address" required/>
              </div>
              <div class="input-group">
                <div class="input-group-addon input-sm"><span class="icon-user"></span></div>
                <input class="input-sm" type="text" placeholder="Username" id="signup-name-ead" required />
              </div>
              <button id="btn-verify-name-ead">Verify</button>
              <span id="verify-result-ead"></span>
              <div class="input-group">
                <div class="input-group-addon input-sm"><span class="icon-key"></span></div>
                <input class="input-sm" type="text" placeholder="Password" required />
              </div>
              <button>Signup</button>
            </form>
          </div>
          <div style="clear:both"></div>
        </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
  </div>